@import 'src/main/webapp/app/app';

.journey-option-content.modal-content {
  border-radius: $card-border-radius;

  .journey-option-image {
    height: 200px;
  }

  h3 {
    line-height: 1.75rem;
  }

  input {
    font-size: 1.125rem;
    border: $input-border;
    border-radius: $default-input-border-radius;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }

  .modal-footer {
    button {
      border: $input-border;
      border-radius: 30px;
      min-width: unset;
    }

    .cancel-btn:hover {
      color: $button-border-color;
    }
  }
}
