// Override Boostrap variables
// Import Bootstrap source files from node_modules
@import '_bootstrap-variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

/* ==========================================================================
Design 2.0 variables - START
========================================================================== */

$sby-beige-1: #fbf9f5;
$sby-beige-2: #f6f2ea;
$sby-beige-3: #e3dbcb;
$sby-beige-4: #d9d1c0;
$sby-beige-5: #e7dfd1;
$sby-beige-6: #a9a190;
$sby-beige-7: #e2dccd;
$sby-beige-8: #8e887a;

$sby-green: $primary;
$sby-green-darker: #00703a;
$sby-blue-1: #5187d8;
$sby-blue-2: #1890ff;
$sby-blue-3: #2559a7;
$sby-red: #eb445a;
$sby-gray-2: #fafafa;
$sby-gray-3: #e5e5e5;
$sby-gray-4: #8f8a7e;
$sby-gray-5: #949494;
$sby-gray-6: #575757;
$sby-gray-7: #dadada;
$sby-gray-8: #595959;
$sby-gray-9: #363636;
$sby-gray-10: #262626;
$sby-gray-11: #8c8c8c;
$sby-gray-12: #e8e8e8;
$sby-gray-13: #1b1b1b;
$sby-purple: #5557ce;
$sby-orange: #f78e1e;

$sby-danger: #ff0022;
$sby-danger-darker: #c0001a;

$sby-green-transparent-1: rgba($sby-green, 0.18);
$sby-green-transparent-2: rgba($sby-green, 0.2);
$sby-danger-transparent-2: rgba($danger, 0.5);

$card-border-radius: 0.75rem;
$card-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

$link: #5187d8;
$link-new: #298afc;
$dark-blue: #2e2e4c;

$text-gray: #868686;

$button-border-color: #bfbfbf;
$secondary-button-icon-color: #a6a5a4;
$input-label-color: $sby-gray-10;
$border-color: #d9d9d9;
$light-grey-border-color: #cecece;
$input-placeholder-color: $border-color;
$input-placeholder-color-light: #bfbfbf;

$input-border: 0.063rem solid $border-color;
$default-input-border-radius: 0.125rem;

$notification-grey: #b0aeab;
$no-content-grey: $sby-gray-11;

$scrollbar-thumb-color: #9e9e9e;
$scrollbar-track-color: #f5f5f5;

$primary-button-icon-color: #4abf8e;

$backdrop-gray: #2b2b2b;
$modal-backdrop: rgba($backdrop-gray, 0.8) !important;

$full-height: calc(100vh - 3.125rem);

/* ==========================================================================
Design 2.0 variables - END
========================================================================== */

$background-color: #f4f6f8;
$white: #ffffff;
$white-light: rgba(#ffffff, 0.55);
$black: #000000;
$submit-footer-height: 3.75rem;
$header-height: 3.125rem;
$heading-height: 5.625rem;
$card-shadow: 0 0.125rem 0.3125rem -0.125rem #cccccc;
$icon-light-grey: #999999;

// Custom colors
$complete-color: $primary;
$complete-color-new: #a8e6bf;
$complete-color-new-dark: #56cb80;
$complete-color-light: rgba($primary, 0.5);
$complete-color-lightest: rgba($primary, 0.1);

$not-started-color: $link;
$not-started-color-new: $sby-blue-1;
$not-started-color-light: rgba($not-started-color, 0.5);
$not-started-color-lightest: rgba($not-started-color, 0.1);

$in-progress-color: $warning;
$in-progress-color-light: rgba($in-progress-color, 0.5);
$in-progress-color-lightest: rgba($in-progress-color, 0.1);

$rejected-color: $danger;
$rejected-color-light: rgba($rejected-color, 0.5);
$rejected-color-lightest: rgba($rejected-color, 0.1);

$failed-color: $black;
$failed-color-light: rgba($failed-color, 0.5);
$failed-color-lightest: rgba($failed-color, 0.1);

$danger-disabled: #eba290;
$green: #5ebe73;
$light-green: #adcb56;
$yellow: #facb7a;
$red: #f07656;
$grey: #7b7b7b;
$light-grey: #c2c2c2;
$gray-02: #c4c4c4;

$default-border-color: #cccccc;
$default-box-shadow: 0 0 0 0.2rem #56cb8040;
$danger-box-shadow: 0 0 0 0.2rem #e9755640;
$yahoo-color: #5744e5;

// Assignment list items are wrapped into portal when dragged
// so this one needs to be here
.assignment-list-item {
  list-style: none;
  margin-top: 0.25rem;

  &.dragging {
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.07));
  }
}

.gap-2 {
  gap: 0.5rem;
}

.center-vertically {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontally {
  left: 0;
  margin: auto;
}

.unread-notifications-count {
  background-color: $icon-stroke-active-color;
  border-radius: 6.24rem;
  font-size: 0.8rem;
  width: 1.7rem;
  height: 1.4rem;
  color: white;
  border: 0.125rem solid white;
  text-align: center;
}

.full-height {
  min-height: $full-height;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-block {
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  background-size: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  color: $p-color;
}

.number-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.dropdown {
  display: inline-block;

  .btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: $icon-stroke-default-color;
    font-weight: bold;
  }
}

.dropdown-menu {
  border-radius: $border-radius;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  border: 0.0625rem solid $default-border-color;

  .dropdown-item {
    padding: 0.25rem 1rem;

    svg {
      float: right;
    }
  }
}

.brand-icon {
  height: 2rem;
  width: auto;
}

.chat-bubble {
  background-color: white;
  border-radius: 6.25rem 6.25rem 0 6.25rem;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
}

textarea,
input,
select {
  background-color: $content-bg !important;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.text-success,
.text-danger,
.text-dark {
  font-weight: 500;
}

.app-container {
  box-sizing: border-box;

  .container-fluid {
    padding: 0;

    .view-routes {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      min-height: calc(100vh - 3.671875rem);
    }
  }
}

.modal-backdrop {
  background: linear-gradient(0deg, #2e353f1a, #2e353f1a), #ffffffe6 !important;
  opacity: 0.9 !important;
  backdrop-filter: blur(1.563rem) !important;
}

.dark-backdrop {
  background-color: $modal-backdrop;
  backdrop-filter: none !important;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: fixed;
  top: 6.25rem;
  left: 0;
  width: 99% !important;
  height: calc(100vh - 6.875rem) !important;
  margin: 0.3125rem;
  z-index: 12;
  padding: 0.3125rem 1.5625rem 3.125rem 1.5625rem !important;
}

.swagger-iframe {
  height: 100vh;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Custom anchor styles
========================================================================== */

a.link {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* ==========================================================================
Custom button styles
========================================================================== */

.icon-button > .btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem;
  line-height: 1rem;

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.capitalized-btn {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

/* ==========================================================================
Custom input styles
========================================================================== */

.disabled-input {
  border: 0.0625rem solid #ced4da !important;
  color: #495057 !important;
  background-color: #e9ecef !important;

  &.is-invalid {
    border-color: #e97556 !important;
  }
}

/* ==========================================================================
Dependency component styles
========================================================================== */

.react-datepicker-wrapper {
  width: 100%;
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temporary workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
}

/* other generic styles */

.title {
  font-size: 1.25em;
  margin: 0.0625rem 0.625rem 0.0625rem 0.625rem;
}

.description {
  font-size: 0.9em;
  margin: 0.0625rem 0.625rem 0.0625rem 0.625rem;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0 0.0625rem 0.375rem, rgba(0, 0, 0, 0.12) 0 0.0625rem 0.25rem;
  border-radius: 0.125rem;
}

.error {
  color: white;
  background-color: red;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.break-word {
  white-space: normal;
  word-break: keep-all;
}

.preserve-space {
  white-space: pre-wrap;
}

@mixin visibilityTransitionOnChild($childElement) {
  #{$childElement} {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms, visibility 500ms;
  }

  &:hover {
    #{$childElement} {
      visibility: visible;
      opacity: 1;
    }
  }
}

@mixin customScrollbar(
  $element,
  $width: 0.313rem,
  $mainColor: $secondary,
  $hoverColor: $info,
  $opacity: 0.5,
  $trackColor: transparent,
  $borderRadius: 0.625rem
) {
  #{$element}::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  #{$element}::-webkit-scrollbar-track {
    border-radius: 0.625rem;
    background-color: $trackColor;
  }

  #{$element}::-webkit-scrollbar-thumb {
    background-color: rgba($mainColor, $opacity);
    border-radius: $borderRadius;
  }

  #{$element}::-webkit-scrollbar-thumb:hover {
    background: $hoverColor;
  }

  // For Firefox browsers
  #{$element} {
    scrollbar-width: thin;
    scrollbar-color: auto;
  }
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

button.anchor-btn {
  background: none;
  border: none;
  padding: 0;
  align-items: initial;
  text-align: initial;
  width: 100%;
}

a.anchor-btn:hover {
  text-decoration: none;
}

.LinesEllipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.btn-primary {
  @include button-variant($primary, $primary, rgba(100, 203, 142, 0.8), rgba(100, 203, 142, 0.8), #333, rgba(100, 203, 142, 0.8));
  color: white;
}

.btn-cancel {
  @include button-variant(white, $primary, rgba(100, 203, 142, 0.8), rgba(100, 203, 142, 0.8), #333, rgba(100, 203, 142, 0.8));
  color: #a0a0a0;
  border: 0.0625rem solid #e5e5e5;
}

.btn-white {
  @include button-variant(white, $primary, rgba(100, 203, 142, 0.8), rgba(100, 203, 142, 0.8), #333, rgba(100, 203, 142, 0.8));
  color: $primary;
}

@mixin card-hover {
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.07);
  left: -0.125rem;
  top: -0.125rem;
  cursor: pointer;
  z-index: 2;
}

@mixin card-shadow {
  -webkit-box-shadow: $card-shadow;
  -moz-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
}

@mixin search-dropdown {
  padding-bottom: 0.313rem;
  display: flex;
  width: 100%;

  .search-icon {
    pointer-events: none;
    top: 0.563rem;
    left: 0.5rem;
  }

  .async-select {
    flex-grow: 1;

    .async-select__control:focus {
      box-shadow: $default-box-shadow;
      border-color: $default-border-color;
    }

    .async-select__control:hover {
      border-color: $default-border-color;
    }

    .async-select__control--is-focused {
      box-shadow: $default-box-shadow;
      border-color: $default-border-color;
    }

    .async-select-invalid__control {
      border-color: $danger;
    }

    .async-select-invalid__control:focus {
      box-shadow: $danger-box-shadow;
      border-color: $danger;
    }

    .async-select-invalid__control:hover {
      border-color: $danger;
    }

    .async-select-invalid__control--is-focused {
      box-shadow: $danger-box-shadow;
      border-color: $danger;
    }

    .async-select__value-container,
    .async-select-invalid__value-container {
      padding-left: 1.875rem;
    }
  }
}

@mixin search-dropdown-new {
  @include search-dropdown;

  .search-icon-new {
    pointer-events: none;
    top: 0.563rem;
    right: 0.8rem;
  }

  .async-select .async-select__value-container,
  .async-select .async-select-invalid__value-container {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .async-select__indicators,
  .async-select-invalid__indicators {
    display: none;
  }

  .async-select__control,
  .async-select-invalid__control {
    border: $input-border;
    border-radius: $default-input-border-radius;
  }

  .async-select__placeholder,
  .async-select-invalid__placeholder {
    color: $input-placeholder-color-light;
  }
}

.table-bordered td {
  vertical-align: baseline;
  border-left: none;
  border-right: none;
  padding: $container-padding;
}

.table-bordered thead th {
  border-left: none;
  border-right: none;
  padding: $container-padding + $container-padding;
}

table {
  border-radius: 0.625rem;

  thead th {
    background-color: $table-header-color;
    color: $secondary;
    font-weight: normal;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  tr .icon-delete {
    cursor: pointer;
    display: inline-block;
  }
}

table.table-striped {
  font-weight: 500;

  tbody tr:nth-of-type(2n + 1) {
    background: $content-bg !important;
  }

  tbody tr:nth-of-type(2n) {
    background: $content-bg !important;
  }

  tbody td {
    border-color: #eef1e9 !important;
  }
}

.icon-warning svg path {
  fill: $warning;
}

.icon-success svg path {
  fill: $success;
}

.icon-danger svg path {
  fill: $danger;
}

.icon-info svg path {
  fill: $info;
}

.icon-secondary svg path {
  fill: $secondary;
}

.bg-green {
  background-color: $primary;
}

.bg-yellow {
  background-color: $warning;
}

.bg-red {
  background-color: $danger;
}

.bg-grey {
  background-color: $grey;
}

.border-dashed-green {
  border: 0.125rem dashed #56cb80;
  border-radius: 0.3125rem;
}

.terms a {
  color: $green;
}

.break-all {
  word-break: break-all;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin paddingBottomForMobileNav($element) {
  @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    #{$element} {
      padding-bottom: 4rem;
    }
  }
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

button:not(.dropdown-item),
a.btn {
  border-radius: 1.875rem;
}

label {
  color: $input-label-color;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

input,
textarea {
  border: $input-border;
  border-radius: $default-input-border-radius;

  &::placeholder {
    color: $input-placeholder-color-light;
  }
}

textarea {
  min-height: 6rem;
}

.text-success,
.text-info,
.text-secondary,
.text-warning,
.text-danger,
.text-dark,
.text-muted {
  font-weight: normal;
}

.no-outline-on-focus {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
