@import 'src/main/webapp/app/app';

.journey-template-card {
  border-radius: 0.313rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  cursor: pointer;

  .template-icon {
    opacity: 0.5;
    background: $sby-purple;
    border-radius: 6.25rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.selected-card {
    border: 0.063rem solid $sby-purple;
    .template-icon {
      opacity: 1;
    }
  }
}
