.video-webcam {
  position: absolute;
  display: block;
  opacity: 0;
  width: 50vh;
  z-index: -1;
}

.camera-modal {
  .modal-content .camera-container {
    margin-top: 0;

    video {
      height: 60vh;
      width: auto;
    }

    .buttons {
      background-color: transparent;
    }
  }

  .camera-container {
    margin-top: -64px;

    video {
      height: auto;
      width: 100%;
    }

    .buttons {
      background-color: white;
    }
  }

  .modal-content {
    width: max-content !important;
  }

  &.modal-dialog {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
