@import 'src/main/webapp/app/app';

.journey-template {
  height: $full-height;
  margin: 0 -0.938rem;
  background: $sby-beige-2;

  h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }

  h4 {
    line-height: 1.75rem;
  }
}
