@import 'src/main/webapp/app/app';

@include customScrollbar('.dashboard-container.new .dashboard-column', 0.313rem, $sby-beige-3, $sby-beige-3, 1, transparent, 1.25rem);

.dashboard-container {
  h3,
  h4 {
    font-weight: normal;
  }

  .dashboard {
    ::-webkit-scrollbar {
      width: 0.188rem;
      height: 0.188rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 0.625rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: rgba($secondary, 0.5);
      border-radius: 0.625rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: $info;
    }

    .dashboard-column {
      overflow-y: auto;
      max-height: 45vh;

      > * a .entity-card {
        border-radius: 0;
      }

      > *:first-child a .entity-card {
        border-radius: $border-radius $border-radius 0 0;
      }

      > *:last-child a .entity-card {
        border-radius: 0 0 $border-radius $border-radius;
      }

      > *:only-child a .entity-card {
        border-radius: $border-radius;
      }
    }

    .dashboard-notification-column {
      min-width: 20rem;
    }

    .spaced-top-1 {
      margin-top: 0.125rem;
    }
  }
}
