@import 'src/main/webapp/app/app';

.dashboard-new {
  width: calc(100% + 1.875rem);
  margin-left: -0.938rem;
  margin-right: -0.938rem;
  padding-top: 1.875rem;
  padding-left: 0.938rem;
  padding-right: 0.938rem;

  &.content-container {
    padding-top: 0.875rem;
  }

  .breadcrumbs-new {
    display: none;
  }

  .journey-list {
    &.list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &.grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16.996rem, 1fr));
      grid-gap: 1.5rem;
    }
  }

  .school-image {
    max-height: 1.5rem;
    max-width: 1.5rem;
  }
}
