@import 'src/main/webapp/app/app';

.material-narrow-card {
  max-height: 16.875rem;

  $add-material-modal-padding-xl: 8.125rem;
  $external-material-icon-background-color: #fffffff2;

  @mixin material-icon-location {
    right: 0.625rem;
    top: 0.625rem;
  }

  @mixin external-material-card-icon {
    @include material-icon-location;
    background-color: $external-material-icon-background-color;
    padding: 0.5rem;
  }

  .card-img-top {
    width: 100%;
    max-height: 7.5rem;
    object-fit: cover;
  }

  .ekoolikott-material-card-icon {
    @include external-material-card-icon;
    width: 3.75rem;
    height: 3.75rem;
  }

  .opiq-material-card-icon {
    @include external-material-card-icon;
  }

  .user-material-card-icon {
    @include material-icon-location;
    width: 2.813rem;
    height: 2.813rem;
    background-color: #000000bf;
  }

  .material-sequence span {
    color: $grey;
    max-width: 2rem;
    line-height: 2rem;
    height: 2rem;
    border: 1px solid $grey;
  }

  .material-footer {
    flex-grow: 1;
  }
}

.material-narrow-card:hover {
  @include card-hover;
}
