@import 'src/main/webapp/app/app';

$add-material-modal-padding-xl: 8.125rem;

@include customScrollbar('.modal-body', 0.625rem, $sby-beige-3, $sby-beige-3, 1);

.material-card-modal {
  min-width: 90%;
  height: 80vh;

  .close-modal-button {
    z-index: 9;
  }

  img:not(.spinner),
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 75vh;
  }

  video {
    background-color: black;
  }

  .modal-content {
    position: relative;
    border-radius: $card-border-radius;
    max-height: 100%;

    .modal-header {
      border-bottom: 0;

      .modal-title {
        font-family: Montserrat, sans-serif;
        font-size: 1.125rem !important;
        font-weight: bold;
      }
    }

    .modal-body {
      overflow-y: auto;

      .iframe-container {
        min-height: 70vh;
        max-height: 70vh;
      }

      .embed-responsive {
        max-height: 70vh;
      }

      .url-input-container-new {
        width: 100%;
      }
    }

    .modal-footer {
      border-top: 0;

      button {
        font-weight: normal;
        font-size: 0.875rem;
        text-transform: none;
        height: 2.188rem;
        margin: 0;
        justify-content: center;
      }
    }
  }
}
