@import 'src/main/webapp/app/app';

.display-mode-btn {
  width: 4.25rem;
  background-color: $sby-gray-12;
  box-shadow: inset 0 0 0 0.063rem #d9d9d9;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
  overflow: hidden;

  .list,
  .grid {
    flex: 1;
    z-index: 1;

    &.active {
      background-color: black;
    }
  }
}
