.group-list-box {
  cursor: pointer;
  padding: 0.75rem 0;

  &.active {
    background-color: white;
  }

  &:hover {
    background-color: white;
  }

  h3 {
    margin: 0;
  }

  .chevron {
    &.expanded {
      transform: rotate(90deg);
    }

    &.collapsed {
      transform: rotate(270deg);
    }
  }
}
