@import 'src/main/webapp/app/app';

.settings {
  h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  h2,
  h3 {
    font-weight: normal;
  }

  .user-image {
    width: 10rem;
    height: auto;
    margin-bottom: -5rem;
    z-index: 1;
  }

  .settings-form {
    padding: 5rem 8rem 2rem;

    .user-name {
      text-transform: capitalize;
    }

    .form-control {
      background-color: white;
    }

    .submit {
      padding-left: 6rem;
      padding-right: 6rem;
      text-transform: uppercase;
    }
  }

  .btn-oauth {
    box-shadow: 0 0.063rem 0.125rem 0.063rem #ddd;
    background-color: white !important;
    font-size: 0.938rem;
    padding: 0.625rem 1.188rem;
    width: 14.375rem;
    height: 4.5rem;

    img {
      padding-right: 0.625rem;
    }
  }
}
