@import 'src/main/webapp/app/app';

.student-row {
  font-family: Roboto, sans-serif;
  margin-bottom: 0.75rem !important;

  .rounded-circle.avatar {
    border: none;
    height: 1.125rem;
    width: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    span {
      padding-top: 0.0625rem;
      font-size: 0.5rem;
    }
  }

  span {
    &.full-name {
      font-size: 0.75rem;
      color: black !important;
      margin-left: 0.33rem;
      letter-spacing: 0;
    }

    &.submissions {
      font-size: 0.625rem;
      margin-right: 0.625rem;
      color: $secondary;

      strong {
        font-weight: bold;
        color: black;
      }
    }
  }
}
