@import 'src/main/webapp/app/app';

@include customScrollbar(
  '.journey-template-selection .templates',
  0.2rem,
  $scrollbar-thumb-color,
  $scrollbar-thumb-color,
  0.5,
  $scrollbar-track-color
);

.journey-template-selection .journey-template-tabs {
  border-bottom: 0.063rem solid $sby-gray-3;

  span {
    cursor: pointer;

    &.selected-tab {
      font-weight: bold;
      border-bottom: 0.25rem solid $primary;
    }
  }
}

.journey-template-selection .templates {
  overflow-y: auto;
  padding-right: 0.25rem;
  margin-right: -0.25rem;

  .load-more-btn {
    color: $sby-gray-4;

    &:hover {
      font-weight: 500;
    }
  }
}
