@import 'src/main/webapp/app/app';

.choose-materials-container {
  .choose-materials-placeholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $primary;
    margin-top: 1rem;
    box-shadow: 0 0.063rem white inset;

    .left-section {
      color: white;
      flex-grow: 1;
      padding: 2.587rem 1.5rem 1.438rem 2.587rem;

      h4 {
        line-height: 1.5rem;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: inherit;
      }
    }

    .right-section {
      flex-grow: 1;

      img {
        object-fit: fill;
      }
    }
  }
}
