@import 'src/main/webapp/app/app';

.save-material-modal-new {
  .modal-content {
    border-radius: 0 0 $card-border-radius $card-border-radius;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;

    .img-container {
      aspect-ratio: 3;
      background-color: $primary;

      img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 3;
      }

      .custom-button.white {
        bottom: 0;
        right: 0;
        margin: 0.5rem;
        box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15);
      }
    }

    .form {
      padding-bottom: 1.5rem;
      width: 50%;

      @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        width: 75%;
      }

      h4 {
        font-size: 1.125rem;
        font-family: Montserrat, sans-serif;
        margin: 1.5rem 0;
      }

      label {
        font-size: 0.75rem;
        line-height: 1.375rem;
        margin-bottom: 0.125rem;
        color: $sby-gray-10;
      }

      input,
      textarea,
      select {
        border: $input-border;
        border-radius: $default-input-border-radius;

        &::placeholder {
          color: $input-placeholder-color-light;
        }

        &.is-invalid {
          border-color: $danger;
        }

        &[type='checkbox'] {
          margin-top: 0;
          margin-right: 0.5rem;
        }
      }

      @include customScrollbar('textarea');

      textarea {
        resize: none;
      }

      .material-list {
        span {
          font-size: 0.875rem;
          color: $sby-gray-10;
        }

        svg[aria-label='defaultFileExtension'] {
          width: 1.25rem;
          height: 1.25rem;

          path {
            fill: $sby-beige-4;
          }
        }

        svg[aria-label='pdfFileExtension'] {
          width: 1.375rem;
          height: 1.375rem;

          path {
            fill: $sby-beige-4;
          }
        }

        .file-actions {
          span {
            &.preview-button {
              svg {
                width: 2rem;
                height: 2rem;
                margin: 0;
              }
            }
            svg[aria-label='download'] {
              width: 1rem;
              height: 1rem;
            }
          }
          .btn.delete-upload {
            padding: 0;
          }
        }
      }

      .file-dropzone {
        border: 0.063rem dashed $sby-beige-3;
        min-height: 0;
        height: 5.625rem;

        &.camera {
          border: none;
          height: min-content;

          .file-dropzone-content {
            margin: 0;

            .btn {
              border-radius: 3.125rem;
              border: 0.063rem solid $button-border-color;
              background-color: transparent;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              margin: 0 !important;
              gap: 0.375rem;
              padding-top: 0.25rem !important;
              padding-bottom: 0.25rem !important;
              color: $dark-blue;

              svg {
                margin: 0 !important;
                path {
                  fill: $sby-beige-4;
                }
              }
            }
          }
        }

        &:not(.camera) .file-dropzone-content {
          margin: 0;
          align-self: center;

          .row {
            margin: 0.5rem 0 0;
            justify-content: center;

            .placeholder,
            .file-upload-buttons {
              font-size: 0.875rem;
              margin: 0 !important;
              padding: 0;
              display: inline !important;
            }

            .placeholder {
              color: $sby-gray-10 !important;
            }

            .file-upload-buttons {
              .btn {
                background-color: transparent;
                border: none;
                color: $link-new;
                padding: 0 !important;

                svg {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
