@import 'src/main/webapp/app/app';

.rubric-form-content {
  input,
  textarea {
    border: 0.0625rem solid $border-color;
    border-radius: 0.125rem;

    &::placeholder {
      color: $input-placeholder-color-light;
    }
  }
}
