@import 'src/main/webapp/app/app';

@include customScrollbar('.container.students-assignment-view-container', 0.625rem, $sby-beige-3, $sby-beige-3);

.container.students-assignment-view-container {
  @include paddingBottomForMobileNav('.container.students-assignment-view-container');

  .students-assignment-view {
    @include customScrollbar('.student-solution-container', 0.625rem, $sby-beige-3, $sby-beige-3);

    .student-solution-container {
      max-height: calc(100vh - 10rem);
      overflow-y: auto;

      .student-solution {
        max-height: unset;
        @include visibilityTransitionOnChild('.edit-button');

        .editor-toolbar {
          border: 0.063rem solid $border-color;
          border-bottom: none;
        }

        .CodeMirror.cm-s-easymde.CodeMirror-wrap {
          border-radius: 0;
        }

        padding-left: 2rem !important;

        .submitted-date {
          color: $sby-gray-5;
          font-size: 0.75rem;
        }

        p {
          color: $gray-900;
        }

        .lti-results {
          box-shadow: none;
          padding: 0 !important;
          margin-bottom: 1.25rem;

          .card-title {
            display: none;
          }

          .row {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }
      }
    }

    .assignment-detail-new {
      max-height: calc(100vh - 10rem);
      overflow-y: auto;
      padding-bottom: 0 !important;

      &::-webkit-scrollbar-track {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .container.students-assignment-view-container {
    overflow-y: auto;

    .students-assignment-view {
      .student-solution-container,
      .assignment-detail-new {
        overflow-y: unset;
      }
    }
  }
}
