@import 'src/main/webapp/app/app';

.journey-update {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  background: url(/content/images/journey/journey_background.svg) round repeat $sby-beige-2;

  form {
    margin: auto;

    .form-wrapper {
      border-radius: 0 0 0.75rem 0.75rem;

      .journey-update-form-content {
        width: 95%;

        h3 {
          font-family: Montserrat, sans-serif;
        }

        h5 {
          font-weight: 700;
        }

        label {
          color: $input-label-color;
          font-weight: 400;
          margin-bottom: 0.25rem;
        }

        input,
        textarea {
          border: $input-border;
          border-radius: $default-input-border-radius;

          &::placeholder {
            color: $input-placeholder-color-light;
          }

          &.is-invalid {
            border-color: $danger;
          }
        }

        textarea {
          min-height: 6rem;
        }

        .calendar-icon {
          top: 0.45rem;
          right: 0.75rem;
        }
      }

      .material-picture {
        .uppy-FileInput-container {
          position: absolute;
          bottom: 2rem;
        }
      }
    }

    .journey-update-form-footer {
      button {
        border-radius: 1.875rem;
        min-width: unset;
      }

      .cancel-btn {
        border: 0.063rem solid $button-border-color;

        &:hover {
          color: $button-border-color;
        }

        &:focus {
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  .journey-update form,
  .journey-update form .form-wrapper .journey-update-form-content {
    width: 80%;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .journey-update .form-wrapper .journey-update-form-content {
    width: 70%;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .journey-update form {
    width: 45%;

    .form-wrapper .journey-update-form-content {
      width: 50%;
    }
  }
}
