@import 'src/main/webapp/app/app';

.remove-btn {
  height: 30px;
  width: 30px;

  :disabled {
    cursor: unset;
    background-color: $danger-disabled !important;
    border-color: $danger-disabled !important;
    opacity: 1 !important;
  }
}
