@import 'src/main/webapp/app/app';

.rubric-search-dropdown {
  @include search-dropdown-new;
  padding-bottom: 0;

  .search-icon {
    left: 0.8rem;
  }

  .async-select .async-select__value-container,
  .async-select .async-select-invalid__value-container {
    padding-left: 2.2rem;
    padding-right: 0.8rem;
  }

  .async-select__placeholder,
  .async-select-invalid__placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 2.5rem);
  }
}
