@import 'src/main/webapp/app/app';

.journey-grid-card.card {
  font-family: Roboto, sans-serif;

  height: 12.514rem;
  border: none !important;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  padding: 0.938rem;

  .subject-icon {
    width: 1.581rem;
    height: 1.5rem;
    background-color: #d9fad9;
    border-radius: 0.188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem;

    svg {
      display: block;
      width: inherit;
      height: inherit;
      margin: 0.188rem;
    }
  }

  .class {
    flex: 1;
  }

  .title {
    color: black;
    font-weight: bold;
    font-style: normal;
    font-size: 0.875rem;
    flex: 1;
    align-items: center;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  .school {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-align: left;

    text-transform: capitalize;
    flex: 2;
  }

  .row {
    margin: 0;
  }

  .notifications-section {
    margin-right: -0.656rem;

    .col-4 {
      padding: 0;
      height: 3.75rem;
      margin-right: 0.656rem;
      flex: 1;
    }
  }
}
