@import 'src/main/webapp/app/app';

.rubric-link {
  button.btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    p {
      color: $grey;

      &.with-rubric {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
