@import 'src/main/webapp/app/app';

.milestone-with-assignments-new.content-wrapper {
  height: calc(100% - 2.5rem) !important;

  ul.assignments-list {
    will-change: filter;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.07));
    overflow-y: auto;
    height: inherit;

    // For FF browser
    scrollbar-width: auto;

    :first-child {
      margin-top: 0;
    }
  }

  @include customScrollbar('.assignments-list', 0.625rem, $sby-beige-3, $sby-beige-3, 1, transparent, 1.25rem);
}
