@import 'src/main/webapp/app/app';

.material-card-new {
  cursor: pointer;

  .material-cover {
    img:not(.source-icon) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.lti-material {
      background-color: white;

      img:not(.source-icon) {
        object-fit: contain;
      }
    }

    .source-icon {
      background-color: rgba(255, 255, 255, 0.5);
      img {
        object-fit: scale-down;
      }
    }
  }

  .material-info {
    color: $sby-gray-10 !important;
    min-width: 0;
    font-weight: 400;
    flex-direction: column;
    flex: 1;

    .title {
      font-size: 1rem;
      min-width: 0;
      line-height: normal;
      font-weight: inherit;
      color: inherit;
      margin-bottom: 0.125rem;
    }

    .description {
      min-width: 0;
      font-size: 0.813rem;
      line-height: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color: inherit;
      font-weight: inherit;
    }
  }

  .btn {
    width: 1.125rem;

    &.disabled,
    &:disabled {
      opacity: 1;
    }
  }
}
