@import 'src/main/webapp/app/app';

$default-border-color: #cccccc;
$default-box-shadow: 0 0 0 0.2rem #56cb8040;
$danger-box-shadow: 0 0 0 0.2rem #e9755640;

.multiselect-search-dropdown {
  .btn-subtract {
    height: 2.188rem;
    width: 2.188rem;
    background-color: transparent;
    color: $danger;
  }

  .btn-subtract:hover {
    background-color: $content-bg;
  }

  .btn-incrementer {
    height: 2.188rem;
    width: 2.188rem;
    display: inline-block;
    margin: 0.313rem 0.625rem 0.938rem;
    font-size: 1.125rem;
    float: right;
  }

  .input-search {
    @include search-dropdown;
  }

  .form-feedback {
    display: contents;
  }
}
