@import 'src/main/webapp/app/app';

.selected-alignment {
  background-color: $sby-gray-8;
  height: 1.625rem;
  gap: 0.188rem;
  border: 0.063rem solid $border-color;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  span {
    color: $sby-gray-12;
    font-size: 0.75rem;
  }

  .btn {
    margin-right: -0.25rem;
  }
}
