@import 'src/main/webapp/app/app';

.entity-update {
  color: $sby-gray-10;

  hr {
    position: initial !important;
    margin: 1rem 0 !important;
  }

  h4 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
  }

  .EasyMDEContainer div.CodeMirror-scroll {
    min-height: 15vh !important;
  }

  input,
  textarea,
  select {
    border: $input-border;
    border-radius: $default-input-border-radius;

    &::placeholder {
      color: $input-placeholder-color-light;
    }
  }

  .react-datepicker__input-container input.form-control.is-invalid {
    background: none;
  }

  textarea {
    min-height: 6rem;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.form-control.is-invalid {
      background: none;
    }

    option {
      padding: 0.25rem 0.75rem;

      &:hover {
        background-color: rgba($primary, 0.1);
      }

      &:checked,
      &:focus {
        background-color: transparent;
      }

      &:first-of-type {
        padding-top: 0.5rem;
      }
    }
  }

  select.placeholder {
    color: $input-placeholder-color-light;

    option:not(:disabled) {
      color: black;
    }
  }

  .radio-button {
    color: black;
  }

  .entity-datepicker {
    min-width: 8.5rem;
    width: 40%;
  }

  .entity-update-footer {
    button {
      border-radius: 1.875rem;
      min-width: unset;
    }

    .cancel-btn {
      color: $sby-gray-8;
      border: 0.063rem solid $button-border-color;

      &:hover {
        color: $button-border-color;
      }

      &:focus {
        color: black;
      }
    }
  }

  .published-date {
    .react-datepicker__input-container {
      margin-left: 0.625rem;
      width: 10.625rem;

      .form-control {
        height: 2rem;
        font-size: 0.875rem;
        border-radius: 0;
      }
    }

    .form-group {
      display: inline-flex;
    }
  }

  .published-date-icon {
    position: relative;
    left: -1.875rem;
    top: -0.125rem;
  }
}

.published-date-container {
  height: 1.8125rem;
  display: inline-flex;
  align-items: center;
}
