@import 'src/main/webapp/app/app';

$journey-list-card-padding-y: 0.438rem;

@include customScrollbar('.journey-list-card.card', 0.125rem, $scrollbar-thumb-color, $scrollbar-thumb-color, 0.8, $scrollbar-track-color);

.journey-list-card.card {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;

  height: 11.25rem;
  border: none !important;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  padding-left: 1rem;
  overflow: hidden;

  &::-webkit-scrollbar-track {
    margin-left: 0.62rem;
    margin-right: 0.62rem;
  }

  .col {
    padding: 0.438rem 0.25rem;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;

    &.students-column {
      padding: 0 0.25rem 0 0.704rem;
    }

    &.base-info-column {
      padding-right: 0.841rem;
      padding-left: 0;

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .school {
    height: 2rem;
    margin-bottom: 1rem;

    p {
      color: black;
      font-style: normal;
      font-weight: normal;
      font-size: 0.625rem;

      flex: 1;
    }
  }

  .journey {
    margin-bottom: 1.5rem;

    a {
      max-width: 85%;
    }

    .title {
      font-weight: bold;
      font-style: normal;
      font-size: 0.875rem;
    }
  }

  .progress {
    height: 0.25rem;
    border-radius: 0.625rem;
    background-color: $sby-beige-2;
    overflow: visible;

    margin-bottom: 0.813rem;

    .progress-bar {
      border-radius: 0.625rem;
      position: relative;
      overflow: visible;

      .percent {
        color: black;
        position: absolute;
        text-align: right;

        font-style: normal;
        font-weight: 500;
        font-size: 0.625rem;
        bottom: 0.188rem;
        right: -1em;

        &.zero {
          left: 0;
        }
      }
    }
  }

  .teachers {
    height: 1.125rem;

    .rounded-circle.avatar {
      border: none;
      height: 1.125rem;
      width: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $info;

      span {
        padding-top: 0.0625rem;
        font-size: 0.5rem;
        color: white;
      }
    }
  }

  .students-column.col .inner-card.card {
    padding-top: $journey-list-card-padding-y;
    padding-bottom: $journey-list-card-padding-y;
    width: 98%;

    .card-header,
    .card-body {
      margin-right: 0.625rem;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .journey-list-card.card {
    overflow-x: auto;

    & > .row {
      display: flex;
      flex-direction: column;

      & > .col {
        max-width: 33%;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .journey-list-card.card {
    margin-left: -0.625rem;
    margin-right: -0.625rem;

    & > .row > .col {
      max-width: 100%;
    }
  }
}
