@import 'src/main/webapp/app/app';

.material-card-new.wide {
  min-height: 4rem;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0.583rem 0.5rem;
  box-shadow: 0 0.063rem 0 0 $sby-beige-5;

  .material-cover {
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: $sby-gray-12;

    &.lti-material {
      background-color: white;
    }
  }

  .material-info {
    .description {
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
    }
  }
}
