@import 'src/main/webapp/app/app';

.no-content-to-display {
  min-height: 70vh;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

  img {
    height: 70%;
  }

  h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .no-content-to-display img {
    height: unset;
    width: 90%;
  }
}
