@import 'src/main/webapp/app/app';

$assignment-description-height: 18.75rem;
$xl-padding: 7vw;

@include customScrollbar(
  '.assignment-detail-view .students-container .student-list',
  0.625rem,
  $sby-beige-3,
  $sby-beige-3,
  1,
  transparent,
  1.25rem
);
@include customScrollbar('.assignment-detail-view .material-list', 0.625rem, $sby-beige-3, $sby-beige-3, 1, transparent, 1.25rem);

.assignment-detail-view {
  .detail-body {
    border-top: 0.063rem solid $sby-gray-3;
    margin-top: 0.9375rem;

    h3 {
      font-weight: normal;
    }

    .creation-assignment-info-container {
      .creation-assignment-info-content {
        position: static;
      }
    }

    .rubric-btn {
      font-weight: 500;
      text-transform: uppercase;
      width: 100%;
      height: 3.5rem;
      font-size: 1.2rem;
    }

    @include customScrollbar('.creation-assignment-info-container');

    .assignment-description-info {
      font-size: 1.063rem;
    }

    .submit-button {
      padding-left: 2.188rem;
      padding-right: 2.188rem;
      height: 3.75rem;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .grading-scheme-box {
      background-color: $info;
    }

    .submission-creation-col {
      min-height: calc(100vh - (#{$header-height}) - (#{$heading-height}));
    }

    .CodeMirror-scroll {
      min-height: 12.5rem !important;
    }
  }

  .grading-container {
    padding-bottom: $submit-footer-height + 4.6875rem;
  }

  .submission-info-container {
    margin-bottom: $submit-footer-height + 4.6875rem;
    padding-right: 0;
    padding-left: 0;
  }

  .students-container {
    margin-bottom: $submit-footer-height + 0.3125rem;
  }

  .student-grade {
    min-width: 4rem;
    color: $p-color;
    border-radius: $border-radius;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-transform: uppercase;
    text-align: center;
  }

  .student-list {
    overflow-y: auto;
    height: calc(100vh - (#{$submit-footer-height}) - 15.625rem);
  }

  .material-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20vh;
    min-height: 6.25rem;
  }

  .assignment-materials {
    max-height: 35vh !important;
  }

  .student-grade-wrapper {
    padding: $container-padding;
    cursor: pointer;

    span {
      color: $p-color;
    }

    .icon-wrapper {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .assignment-description {
    max-height: $assignment-description-height;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.063rem;
    font-weight: normal;

    p {
      color: $gray-900;
    }
  }

  .grade-submit-checkbox {
    width: 100%;
    min-width: 50%;
    height: 3.125rem;
    margin: auto;
    position: relative;
    display: flex;

    .checkbox-wrapper {
      width: 45%;
      height: 3.125rem;
      border: 0.313rem solid;
      border-radius: $border-radius;
      text-align: center;
      background-color: #ffffff;
      text-transform: uppercase;
      overflow: hidden;

      &:nth-child(even) {
        margin-left: 10%;
      }

      .custom-control {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .checkbox-left {
      border-color: $success;

      label {
        color: $success;
      }
    }

    .checkbox-right {
      border-color: $danger;

      label {
        color: $danger;
      }
    }
  }

  .grade-submit-input {
    width: 100%;
    min-width: 50%;
    height: 3.125rem;
    margin: auto;
    background-color: $success;
    border-radius: $border-radius;
    position: relative;

    .input-wrapper {
      background-color: #ffffff;
      width: fit-content;
      border-radius: $border-radius;
      display: flex;
      padding: 0.313rem 0.625rem 0.313rem 0.625rem;

      position: absolute;
      left: 0;
      right: 0;
      top: 0.313rem;
      bottom: 0.313rem;
      margin: auto;

      .input-one-character {
        width: 1.063rem;
      }

      .input-two-character {
        width: 1.75rem;
      }

      .input-three-character {
        width: 2.375rem;
      }

      input {
        border: none;
        overflow: hidden;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.313rem;
        color: #666666;
        text-decoration: underline;
        outline: none;
        text-transform: uppercase;
        text-align: right;
        cursor: text;
      }

      .right-side {
        text-align: center;
        vertical-align: middle;
        line-height: 1.875rem;
        white-space: nowrap;
        color: $p-color;
        font-size: 1.125rem;
      }
    }
  }
}

@include paddingBottomForMobileNav('.assignment-detail-view');

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .assignment-detail-view .detail-body .creation-assignment-info-container {
    overflow-y: auto;

    .creation-assignment-info-content {
      position: absolute;
      right: 0;
      left: 0;
      padding-left: inherit;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .assignment-detail-view .detail-body {
    .materials-col {
      max-height: calc(100vh - (#{$submit-footer-height}) - (#{$assignment-description-height}) - 9.375rem);
      overflow-y: auto;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, xl)) {
  .assignment-detail-view .detail-body {
    .creation-assignment-info-container {
      padding-left: $xl-padding;
    }

    .submission-creation-col .editor-container,
    .upload-container,
    .submission-detail-col,
    .uploaded-files,
    .feedback-container,
    .submit-button-col {
      padding-right: $xl-padding;
    }
  }

  .submission-creation-heading {
    padding-left: $xl-padding;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, xl)) {
  .submission-creation-heading {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .assignment-detail-view {
    .student-list {
      height: fit-content;
      max-height: 18.75rem;
    }

    .material-list {
      height: fit-content;
      max-height: calc(100vh - (#{$submit-footer-height}) - (#{$assignment-description-height}) - 15.625rem);
    }

    .upload-container {
      margin-bottom: $submit-footer-height + 5;
    }

    .submit-footer footer {
      bottom: 4rem;
    }
  }
}
