@import 'src/main/webapp/app/app';

.journey-detail-new.content-container {
  padding-top: 0;

  .heading-buttons {
    gap: 0.25rem;
  }
}

.invite-btn-old {
  background-color: $primary !important;
  color: white !important;
  font-weight: normal !important;
}
