@import '../../../_bootstrap-variables.scss';

/*
DROPDOWN
 */

.dropdown {
  display: inline-block;

  .btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: $icon-stroke-default-color;
    font-weight: bold;
  }

  .btn-secondary:hover {
    background-color: transparent;
    border-color: transparent;
    color: $icon-stroke-default-color;
  }

  .btn-secondary:focus {
    background-color: transparent;
    border-color: transparent;
    color: $icon-stroke-default-color;
  }
}
