@import 'src/main/webapp/app/app';

.base-card {
  position: relative;
  background-color: white;

  img {
    width: inherit;
  }
}

.app-card {
  min-height: 180px;

  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.app-card:hover {
  .left-content,
  .right-content {
    opacity: 0.2;
  }
}

.app-card-container:hover {
  .add-hover-btn {
    display: block;
  }
}

.add-hover-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;

  .add-btn-label {
    font-size: 1rem;
  }
}

.base-card:hover {
  @include card-hover;
}

.card-lti-warning {
  z-index: 9;

  .icon {
    left: 0.4rem;
    top: 0.4rem;
  }
}
