.lti-results-table {
  tbody {
    display: block;
    max-height: 14vh;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  thead tr th:first-child,
  tbody tr td:first-child {
    padding-left: 0 !important;
  }
}
