@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';
@import 'src/main/webapp/app/app';

.journey-students {
  padding-top: $gap + $gap;

  .process-container {
    border-radius: $border-radius;
    display: inline-block;
    padding: 0.313rem 0.938rem 0.313rem 0.938rem;
  }

  table {
    .avatar {
      margin-left: 0.625rem;
      margin-right: 1.25rem;
    }

    &.table.table-striped {
      font-weight: normal;
    }
  }

  .border-green {
    border: 0.063rem solid $complete-color;
    background-color: $complete-color-lightest;
  }

  .border-orange {
    border: 0.063rem solid $in-progress-color;
    background-color: $in-progress-color-lightest;
  }

  .border-red {
    background-color: $rejected-color-lightest;
    border: 0.063rem solid $rejected-color;
  }
}

@include paddingBottomForMobileNav('.journey-students');
