@import 'src/main/webapp/app/app';

.rubric-points {
  .row-title {
    font-weight: bold;
    color: #1b1b1b;
  }

  .criterion-points {
    min-width: 8rem;
    max-width: 100%;
    width: fit-content;
    border: 3px solid $gray-02;
    border-radius: 30px;
    padding: 0.2rem 1rem;
    float: right;

    div.d-flex {
      color: $gray-02;

      .points {
        font-weight: 500;
      }

      .level-description-wrapper {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .level-description {
          color: $gray-02;
        }
      }
    }

    &.total-points {
      font-size: 15px;
      padding: 0.5rem 1rem;

      .points {
        font-weight: bold;
      }
    }

    &.light-green {
      border-color: $primary-button-icon-color;

      .points {
        color: $primary-button-icon-color;
        font-weight: bold;
      }
    }

    &.green {
      border-color: $primary;

      .points {
        color: $primary;
        font-weight: bold;
      }
    }

    &.yellow {
      border-color: $warning;

      .points {
        color: $warning;
        font-weight: bold;
      }
    }

    &.red {
      border-color: $danger;

      .points {
        color: $danger;
        font-weight: bold;
      }
    }
  }
}
