@import 'src/main/webapp/app/app';

.submissions-content {
  .box-container {
    h6 {
      font-family: Montserrat, sans-serif;
      font-weight: 600;
    }
  }

  .students-list {
    .sort-button {
      font-weight: normal;
      font-size: 0.75rem;
      color: $sby-gray-6;
      border: 0.03125rem solid $sby-gray-6;
      border-radius: 0.25rem;
      padding: 0.125rem 0.375rem;
    }

    .rounded-circle.avatar {
      border: none;
      height: 1.125rem;
      width: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      span {
        padding-top: 0.0625rem;
        font-size: 0.5rem;
      }
    }

    .row {
      &.students-list-heading {
        color: $sby-beige-6;
        font-weight: bold;
        font-size: 0.625rem;
      }

      &.students-list-item {
        border-radius: 0 0.3125rem 0.3125rem 0;
        cursor: pointer;
        color: black;
        font-size: 0.75rem;

        .full-name {
          color: black !important;
        }

        &:hover {
          background: rgba($sby-beige-2, 0.5);
        }

        &.selected {
          background: $sby-beige-2;
        }
      }
    }
  }
}
