@import 'src/main/webapp/app/assignment/assignment-detail/analytics/chart';

.d3-chart.grade-distribution {
  .average-grade-box {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  text {
    font-size: 13px;
  }
}
