@import 'src/main/webapp/app/app';

.educational-alignment-multiselect {
  margin-bottom: 1rem;

  .form-group {
    margin-bottom: 0;
    input {
      background-image: none;
    }
  }

  .select-container {
    @include customScrollbar('.select');

    .select {
      overflow-y: auto;
      max-height: 0;
      padding: 0;
      border-radius: 0 $card-border-radius $card-border-radius 0;
      border: none;
      box-shadow: $card-box-shadow !important;
      transition: max-height 500ms;
      scroll-behavior: smooth;

      &::-webkit-scrollbar-track {
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
      }

      .option {
        padding: 0.25rem 0.75rem;

        &.selected {
          background-color: rgba($primary, 0.1);
        }

        &:hover {
          background-color: rgba($primary, 0.1);
        }

        &:checked,
        &:focus {
          background-color: transparent;
        }

        &:first-of-type {
          padding-top: 0.5rem;
        }
      }
    }

    &.select-visible {
      .select {
        margin-top: 0.5rem;
        height: 4.688rem !important;
        max-height: 4.688rem;
      }
    }

    .no-content {
      color: $no-content-grey;
      left: 0;
      text-align: center;
    }
  }
  .selected-alignments {
    gap: 0.25rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}
