@import 'src/main/webapp/app/app';

.school-search-dropdown {
  .btn-subtract {
    height: 2.188rem;
    width: 2.188rem;
    background-color: transparent;
  }

  .btn-subtract:hover {
    background-color: $content-bg;
  }

  .btn-incrementer {
    height: 2.188rem;
    width: 2.188rem;
    display: inline-block;
    margin: 0.313rem 0.625rem 0.938rem;
    font-size: 1.125rem;
    float: right;
  }

  .input-search {
    @include search-dropdown;
  }

  .form-feedback {
    display: contents;
  }
}
