.material-card-new.narrow {
  height: 12.625rem;
  background-color: white;

  .material-cover {
    height: 7.5rem;
  }

  .material-info {
    .description {
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
    }
  }
}
