@import 'src/main/webapp/app/bootstrap-variables';
@import 'src/main/webapp/app/app';

.login-content-container {
  flex-grow: 1;
  align-items: center;
}

.login-page {
  max-width: 81.25rem;
  margin: 0 auto;

  .login-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: unset;

    strong {
      color: $primary;
    }
  }

  .login-filler img {
    width: 100%;
    max-height: 80vh;
    content: url('/content/images/login_filler.svg');
  }

  .oauth-buttons {
    width: 75%;
    margin-top: 3rem;

    .btn-oauth {
      font-size: 0.938rem;
      padding: 0.625rem 1.188rem;
      width: 100%;
      height: 3.25rem;

      &.yahoo {
        color: $yahoo-color;
        font-weight: 500;
        font-style: italic;
        font-size: 1.25rem;
        text-transform: uppercase;
      }

      img {
        padding-right: 0.625rem;
        max-height: 60px;
      }
    }
  }

  .enable-password-login {
    color: $link;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .pw-login-container {
    width: 75%;

    .form-group {
      min-height: 3.5rem;
      margin-bottom: 0.188rem;

      input {
        border: $input-border;
        border-radius: $default-input-border-radius;

        &::placeholder {
          color: $input-placeholder-color;
        }
      }
    }

    .alert {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0.125rem;
    }

    a {
      color: $link;

      &:hover {
        text-decoration: underline;
      }
    }

    .btn-primary {
      border-radius: 3rem;
    }
  }
}

.eas-logo {
  margin-left: -0.938rem;
  margin-right: -0.938rem;
  align-self: flex-end;

  img {
    width: 11rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .login-page {
    .login-alerts {
      height: fit-content;
    }

    .login-title {
      font-size: 2.25rem;
    }

    .oauth-buttons,
    .pw-login-container {
      width: 100%;
    }

    .login-filler img {
      content: url('/content/images/login_filler_rotated.svg');
      max-width: 55%;
    }
  }

  .eas-logo {
    bottom: 0;
    width: 100vw;
    height: 5rem;

    img {
      height: 100%;
      margin: auto;
      width: auto;
    }
  }
}
