@import 'src/main/webapp/app/app';

.editable-field {
  .content {
    padding: 0.5rem;
  }

  .content:hover {
    background: $sby-gray-3;
    cursor: text;
  }

  .edit {
    border: 0.063rem solid #ced4da;
  }
}
