@import 'src/main/webapp/app/app';

.uppy-Webcam-videoSource:before {
  content: '↻ ';
  font-weight: bold;
}

button[class='uppy-DashboardTab-btn'] > svg {
  display: none !important;
}

button[class='uppy-DashboardTab-btn']:after {
  font-family: FontAwesome;
  content: url('/content/images/upload.svg');
  position: absolute;
  font-size: 1.625rem;
  width: 1.125rem;
  height: 40%;
  left: 1.125rem;
}

button[aria-controls='uppy-DashboardContent-panel--Webcam'] > svg {
  visibility: hidden !important;
}

button[aria-controls='uppy-DashboardContent-panel--Webcam']:after {
  font-family: FontAwesome;
  content: url('/content/images/camera-icon.svg');
  position: absolute;
  font-size: 1.625rem;
  width: 1.125rem;
  height: 40%;
}

.uppy-Dashboard-inner {
  min-width: 100%;
  background-color: transparent;
  border: 2px dashed $success;
}

.uppy-Dashboard-AddFiles {
  margin: 0 !important;
  border: none !important;
  height: 100% !important;

  .uppy-Dashboard-AddFiles-list {
    margin-top: 0;
    flex: inherit;
    flex-flow: row;
    width: auto;

    span {
      width: auto;
    }

    .uppy-DashboardTab svg {
      width: 40px;
      height: 40px;

      rect {
        fill: $primary;
      }
    }

    .uppy-DashboardTab {
      border-bottom: 0;
      margin-bottom: 0 !important;
      display: inline-block !important;
      width: auto !important;

      .uppy-DashboardTab-btn {
        justify-content: center;
        height: 4.375rem;
        position: relative;
        width: auto;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        margin-left: auto;
      }
    }
  }

  .uppy-Dashboard-AddFiles-list > .uppy-DashboardTab {
    display: none;
  }
}

.block-list {
  list-style-type: none;
  padding: 0;
}

.block-list-file-item {
  .title {
    color: black;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.406rem;
    margin: 0;

    svg {
      margin: 7px;
    }

    a {
      margin-left: 10px;
      margin-top: 15px;
    }
  }

  .file-actions {
    .preview-button:hover path,
    .download-button:hover path {
      fill: black;
    }

    .preview-button,
    .download-button {
      cursor: pointer;
    }
  }

  .delete-upload {
    color: $icon-light-grey;
    float: right;
  }
}

.uppy-Dashboard-AddFiles-title {
  font-size: 22px !important;
  color: $secondary;
  text-align: -webkit-center !important;
  margin-top: 0.625rem !important;

  button {
    font-size: 14px;
    background-color: $success;
    display: flex;
    padding: 10px 20px 10px 20px;
    border-radius: $border-radius;
    color: white;
    margin: 10px auto 10px auto;
  }

  button:hover {
    text-decoration: none;
    color: #1b1b1b;
    background-color: rgba(100, 203, 142, 0.8);
    border-color: rgba(100, 203, 142, 0.8);
    transition: all 0.2s ease;
  }

  .uppy-Dashboard-browse:focus {
    border-bottom: none;
  }
}

.uppy.uppy-Webcam-container {
  .uppy-Webcam-button--picture path {
    fill: $primary;
  }

  .uppy-Webcam-button--video circle {
    fill: red;
  }

  .uppy-Webcam-button--video svg {
    width: 28px;
    height: 28px;
    margin-left: 15px;
  }

  .uppy-Webcam-button--picture svg {
    width: 28px;
    height: 28px;
  }
}

.uppy-Webcam-video--mirrored {
  height: 200px;
}

.uppy-Webcam-buttonContainer {
  justify-content: center;
  display: flex;
}

.uppy-DashboardContent-back {
  @include button-variant($primary, $primary, rgba(100, 203, 142, 0.8), rgba(100, 203, 142, 0.8), #333, rgba(100, 203, 142, 0.8));
  color: white;
  line-height: 15px;
}

.uppy-DashboardTab-name {
  background-color: $success;
  color: white;
  font-size: 1rem !important;
  padding: 0.625rem 0.625rem 0.625rem calc(1.25rem + 1rem);
  border-radius: 0.438rem;
  white-space: nowrap;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.uppy-Webcam-permissonsIcon {
  display: flex;
  justify-content: center;
}

.uppy-DashboardTab-btn:hover {
  background: transparent;

  path {
    fill: $primary;
  }

  rect {
    fill: transparent !important;
    stroke: $primary;
  }
}

.uppy-Dashboard-AddFiles-title {
  text-align: center;
}

.file-dropzone-container {
  border: 0.063rem solid $border-color;
  border-top: none;

  .uppy.uppy-Informer[aria-hidden='true'] {
    height: 0;
  }
}
