@import 'src/main/webapp/app/app';

.material-picture {
  min-height: 13rem;
  max-height: 23rem;
  overflow: hidden;

  img {
    width: auto;
    object-fit: cover;
  }

  .uppy-FileInput-container {
    margin-bottom: 0;
  }
}
