@import 'src/main/webapp/app/app';

.feedback-history {
  .feedback-card {
    .feedback-date {
      color: $text-gray;
    }

    .grade {
      color: black;

      &.grade-container {
        padding: 0.125rem 0.375rem;
        border-radius: 0.25rem;
      }
    }

    .feedback-date,
    .grade {
      font-size: 0.75rem;
    }

    .feedback-content p {
      color: $gray-900;
    }
  }

  .feedback-content p {
    color: black;
  }
}
