@import '../../../app.scss';

/*
HEADER
 */
.header {
  padding-left: 1.563rem;

  hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border-top: 1px solid $border-color;
    position: absolute;
    left: 0;
    width: 100%;
  }

  h1 {
    font-size: 36px;
    padding: 0.5rem 0 0.5rem 0;
  }
}

/*
HEADER NAVBAR
 */
.header {
  .nav-item {
    position: relative;
    display: inline-block;
  }

  .nav-tabs {
    border-bottom: none;

    .nav-link {
      color: $font-muted-color;
      background-color: transparent;
      border: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 14px;
      font-weight: 500;
    }

    .nav-link.active {
      color: $gray-900;
      background-color: transparent;
      border-radius: 0;
      border-bottom: 3px solid $info;
      border-top: none;
      border-left: none;
      border-right: none;

      svg {
        path {
          stroke: $info;
        }
      }
    }

    .tabs-lti-warning {
      .icon {
        right: 0.1rem;
        left: 0;
        bottom: 2rem;
      }
    }
  }

  .heading-left-side {
    flex: 1;
    min-width: 35rem;
  }
}

/*
MEDIA SCREEN
 */

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .header {
    height: $heading-height;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .header {
    h1 {
      font-size: 26px;
      padding: 0;
    }

    .nav {
      padding: 15px 0 15px 0;
    }

    .nav-with-tabs {
      padding: 15px 0 0 0;
    }

    .nav-item {
      position: relative;
    }

    .nav-tabs {
      .tab-container {
        position: relative;
        text-align: center;
      }

      .nav-link {
        padding-left: 2rem;
        padding-right: 1.5rem;
        font-size: 16px;
      }

      .tab-container a span {
        display: none;
      }
    }
  }
}
