@import 'src/main/webapp/app/app';

.breadcrumbs-container {
  margin-top: 0.9375rem;

  .additional-breadcrumbs-row-items {
    font-size: 0.75rem;
    gap: 1.5rem;

    span {
      color: $gray-900 !important;

      a img,
      svg,
      input[type='checkbox'] {
        margin-right: 0.438rem;
      }
    }
  }
}

.heading-container {
  margin-bottom: 1.5rem;

  .heading-new {
    height: 2rem;

    .icon-and-title {
      flex: 1;
      min-width: 0;

      .heading-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: #5557ce;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;

        svg {
          display: block;
          width: inherit;
          height: inherit;
          margin: 0.188rem;

          path {
            fill: white;
          }
        }
      }

      .title {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.625rem;
        color: $black;
      }

      .heading-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $sby-purple;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;

        svg {
          display: block;
          width: inherit;
          height: inherit;
          margin: 0.188rem;

          path {
            fill: white;
          }
        }
      }
    }
  }

  &.sub {
    margin: 0 -0.938rem;
    padding: 0.875rem 0.938rem 0;
    height: 3.375rem;
    min-height: 3.375rem;

    &.with-tabs {
      border-bottom: 0.063rem solid $sby-gray-3;
    }

    .heading-new {
      height: 1.625rem;

      .title {
        font-size: 1.25rem;
      }

      .tab-container-new {
        hr {
          bottom: -0.875rem;
        }
      }
    }

    // Needed because app header height increases if smaller than 1134px (50px -> 60.75px)
    @media (max-width: 70.875rem) {
      padding-top: 0.875rem + 0.672rem;
      height: 3.375rem + 0.672rem;
      min-height: 3.375rem + 0.672rem;
    }
  }
}
