@import 'src/main/webapp/app/app';

.assignment-detail-new::-webkit-scrollbar-track {
  margin-top: 2.25rem;
  margin-bottom: 3rem;
}

.assignment-detail-new {
  gap: 0.5rem;
  align-self: center;
  overflow-y: auto;
  padding: 0 0 1rem !important;

  .cover-image {
    object-fit: cover;
    aspect-ratio: 3;
  }

  .card {
    padding: 1.539rem 1.263rem 1.587rem 1.235rem;
    border-radius: 0 0.313rem 0.313rem 0;
    box-shadow: $card-box-shadow;
    border: none;
    height: max-content;

    &.assignment-info {
      .assignment-title {
        flex: 1;

        h2 {
          font-size: 1.125rem;
          color: $gray-900;
          font-weight: 700;
        }
      }

      .info {
        flex: 1;

        &.deadline-edit {
          min-height: 7.5rem;

          .date-picker-new .form-group {
            margin-bottom: 0;
          }
        }

        span {
          font-size: 0.875rem;
          justify-content: flex-end;
          text-align: right;
        }

        .deadline-editable-field {
          margin-right: -0.5rem;

          &.editing {
            margin-right: 0;
          }
        }

        .deadline-edit-footer {
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 1.539rem 1.263rem 1.587rem 1.235rem;
        }

        .date-picker-new {
          display: flex;
          justify-content: end;
          gap: 0.5rem;

          .react-datepicker__input-container input.form-control.is-invalid {
            background: none;
          }

          .form-group {
            margin-bottom: 0.75rem;
          }

          label {
            line-height: 2.188rem;
          }

          .form-group .invalid-feedback {
            display: block;
          }
        }
      }
    }

    &.assignment-description .editable-field .content p {
      color: $gray-900;
    }

    &.assignment-materials {
      h4 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 0.875rem;
      }

      .choose-materials-cover {
        aspect-ratio: 3;
      }
    }
  }

  .navigation-button-container {
    gap: 0.375rem;

    .navigation-button {
      min-width: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.813rem;
      background-color: white;
      border: 0.031rem solid $button-border-color;

      &.d-none {
        display: none !important;
      }
    }

    span {
      color: $sby-gray-6;
      font-size: 0.75rem;
    }
  }

  .assignment-materials {
    .btn:not(.add-material-button) {
      visibility: hidden;
    }

    &:hover .btn {
      visibility: visible;
    }
  }
}
