@import 'src/main/webapp/app/app';

@include paddingBottomForMobileNav('.assignment-detail-new-container');

@mixin stopwatchBGColor($color) {
  ellipse {
    fill: $color;
    opacity: 1;
  }
}

.assignment-detail-new-container {
  padding-top: 0;
  @include customScrollbar('.assignment-detail-new', 0.625rem, $sby-beige-3, $sby-beige-3);

  .stopwatch {
    &.completed {
      @include stopwatchBGColor($complete-color-new);
    }

    &.urgent {
      @include stopwatchBGColor($sby-orange);
    }

    &.overdue {
      @include stopwatchBGColor($sby-danger);
    }

    &.not_started {
      @include stopwatchBGColor($not-started-color-new);
    }

    &.in_progress {
      @include stopwatchBGColor($not-started-color-new);
    }

    &.rejected {
      @include stopwatchBGColor($failed-color);
    }

    &.failed {
      @include stopwatchBGColor($failed-color);
    }
  }

  .breadcrumbs-new,
  .additional-breadcrumbs-row-items {
    margin-bottom: 0.9375rem;
  }

  .assignment-detail-new {
    flex: 1;
  }
}
