@import 'src/main/webapp/app/app';

.backpack-content-new {
  h5 {
    font-weight: bold;
    font-size: 1.125rem;
  }

  .materials-grid {
    display: grid;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15.438rem, 1fr));

    .material-card-new {
      height: 14.125rem;
    }
  }
}
