@import 'src/main/webapp/app/app';

.rubric-points {
  .rubric-points-header p {
    font-weight: bold;
    text-transform: uppercase;
    color: $sby-beige-6;
    font-size: 0.625rem;
  }

  .rubric-points-body {
    p {
      font-size: 0.75rem;
      color: black;
    }

    .green p {
      color: $success;
    }

    .yellow p {
      color: $warning;
    }

    .red p {
      color: $danger;
    }

    .total-points p {
      font-weight: bold;
      font-size: 0.875rem;
    }
  }
}
