@import 'src/main/webapp/app/app';

$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);
$light-blue-background-color: #eef3fb;
$avatar-row-width: 3.438rem;

@mixin noPressButtonEffect($button) {
  #{$button}.active.focus,
  #{$button}.active:focus,
  #{$button}.focus,
  #{$button}:active.focus,
  #{$button}:active:focus,
  #{$button}:focus {
    outline: none;
    box-shadow: none;
  }
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 1031;
  pointer-events: none;
  opacity: 0.75;

  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  background-color: white;
  border: 1px solid $border-color;
  min-height: $header-height;
  padding: 0.2em 1em;

  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .dropdown-toggle::after {
    margin-left: 0.15em;
  }

  ul.navbar-nav {
    padding: 0.5em;
  }

  a.nav-link {
    font-weight: 400;

    > span {
      margin-left: 5px;
    }
  }

  .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;

    &:hover {
      color: #fff;
    }
  }
}

.nav-item.navbar-active {
  background-color: $light-blue-background-color;
}

.right-menu {
  .nav-item {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;

    .active {
      background-color: $navbar-active-bg-color;

      path {
        stroke: $icon-stroke-active-color;
      }
    }

    a::after {
      margin-left: 0.625rem;
      border: solid $secondary;
      border-width: 0 1px 1px 0;
      padding: 3px;
      top: 1rem;
      transform: translateY(-50%) rotate(45deg);
    }

    .dropdown {
      button:focus {
        box-shadow: none;
      }

      button:active {
        background-color: transparent;
        border: none;
      }

      .unread-notifications-count {
        top: -0.3rem;
        right: -0.3rem;
      }

      .dropdown-menu {
        .container {
          overflow-y: auto;
          overflow-x: hidden;
          height: auto;
          max-height: 60vh;
          width: 25rem;
          max-width: 90vw;

          .btn {
            max-width: 50%;
          }

          .notifications-by-educational-alignment {
            .educational-alignment-name {
              color: $info;
              margin-top: 0.1rem;
            }

            .notification-row.read {
              background: $background-color;
            }

            .notification-row {
              .journey-title {
                color: $info;
              }

              @media screen and (max-width: map-get($grid-breakpoints, sm)) {
                .notification-information-row {
                  max-width: calc(100% - #{$avatar-row-width});
                }

                .avatar-row {
                  max-width: $avatar-row-width;
                }
              }
            }

            .notification-row:hover {
              background-color: $light-blue-background-color;
              cursor: pointer;
            }
          }

          .form-group {
            .search-icon {
              top: 0.5rem;
              left: 2rem;
            }

            input.form-control,
            textarea {
              background-color: $light-blue-background-color !important;
            }

            .form-control:focus {
              box-shadow: none;
            }
          }
        }
      }
    }

    .container::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    .container::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    .container::-webkit-scrollbar-thumb {
      background-color: rgba($secondary, 0.5);
      border-radius: 10px;
    }

    .container::-webkit-scrollbar-thumb:hover {
      background: $info;
    }
  }
}

.avatar {
  border: 1px solid gray;
  background-color: #fcefee;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.avatar-container span {
  text-transform: capitalize;
}

#header-tabs.navbar-nav {
  padding-left: 0;

  .nav-item {
    span {
      font-weight: 500;
      color: $font-muted-color;
    }

    .active {
      background-color: $light-blue-background-color;

      svg path {
        fill: $info !important;
      }

      span {
        color: black;
      }
    }
  }

  form {
    button {
      font-weight: 500;
      height: 2.313rem;
      background-color: unset;
      color: $success;
      border: none;
      outline: none;

      img {
        height: 1.75rem;
      }
    }
    @include noPressButtonEffect(button);
  }
}

.locale-dropdown {
  margin-left: auto;
}

.login-header {
  position: static;
}

.locale-dropdown .dropdown-menu {
  min-width: 3rem;

  .dropdown-item svg {
    stroke: $icon-stroke-default-color;

    path {
      stroke: none;
    }
  }
}

.login-header {
  background: $sby-beige-2;
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .jh-navbar {
    height: $header-height;
  }
}
