@import 'src/main/webapp/app/app';

.journey-template-selection {
  min-width: 24rem;
  max-width: 24rem;
  border-right: 0.063rem solid $sby-gray-3;

  p {
    color: black;
    line-height: 1.125rem;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.375rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }

  .journey-template-search {
    input {
      border: 0.063rem solid $button-border-color;
      border-radius: 1.875rem;
      outline: none;
      background-color: $sby-gray-2 !important;
      padding-right: 2.5rem;

      &::placeholder {
        color: $sby-gray-8;
      }
    }

    .search-icon {
      top: 0.563rem;
      right: 0.938rem;
    }
  }

  .controls {
    button {
      width: 8rem;
      border-radius: 1.875rem;
      text-transform: uppercase;
      font-weight: 500;

      &.cancel-btn {
        border: 0.125rem solid $primary;
        color: $primary;
        background: none;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
