@import 'src/main/webapp/app/app';

.journey-template-preview {
  flex-grow: 1;
  overflow-y: auto;

  .preview-instructions {
    max-width: 28rem;
    margin-top: 6rem;
  }

  .grading-scheme-box {
    background-color: $info;
  }
}
