@import 'src/main/webapp/app/app';

@mixin assignmentCard($color) {
  box-shadow: inset 0.125rem 0 0 $color;

  .assignment-footer {
    .stopwatch > ellipse {
      opacity: 1;
      fill: $color;
    }
  }
}

.assignment-new {
  font-family: Roboto, sans-serif;
  background: $white;
  border-radius: 0 0.313rem 0.313rem 0;
  padding: 0.938rem 0.906rem 0.688rem 0.75rem;

  @include visibilityTransitionOnChild('.dropdown');

  .assignment-title {
    font-size: 1rem;
    line-height: 1.375rem;
    color: $sby-gray-9;
    margin-bottom: 0.875rem;
  }

  .assignment-footer {
    color: black;
    font-size: 0.75rem;
    line-height: 0.75rem;

    .pupil-icon {
      margin-left: 0.125rem;
    }
  }

  &.completed {
    @include assignmentCard($complete-color-new-dark);

    .assignment-footer {
      color: $sby-gray-5;

      .stopwatch > ellipse {
        opacity: 1;
        fill: $complete-color-new;
      }
    }
  }

  &.urgent {
    @include assignmentCard($sby-orange);

    .assignment-footer {
      strong {
        color: $sby-orange;
      }
    }
  }

  &.overdue {
    @include assignmentCard($rejected-color);

    .assignment-footer {
      strong {
        color: $rejected-color;
      }
    }
  }

  &.not_started {
    @include assignmentCard($not-started-color-new);
  }

  &.in_progress {
    @include assignmentCard($sby-orange);
  }

  &.rejected {
    @include assignmentCard($failed-color);
  }

  &.failed {
    @include assignmentCard($failed-color);
  }

  .submissions {
    color: $sby-gray-5;
  }
}
