@import 'src/main/webapp/app/app';

@include customScrollbar('.criterion .criterion-level textarea', 0.625rem, $sby-beige-6, $sby-beige-6);
.criterion-update {
  .criterion-level-update {
    background: $sby-beige-2;
    width: 14rem;
    border-radius: 0.3125rem;

    &.delete {
      box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);
    }

    .criterion-level-remove {
      top: 0.2rem;
      right: 0.5rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    textarea {
      min-height: 3.4375rem;
      height: 3.4375rem;
    }
  }
}
