@import 'src/main/webapp/app/app';

.horizontal-radio {
  .form-group {
    padding-left: 0;
    padding-right: 3rem;
    display: inline;
    position: relative;

    input[type='radio'] {
      display: none;
    }

    label:before {
      content: ' ';
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 1rem 0 0;
      width: 24px;
      height: 24px;
      border-radius: 11px;
      border: 1px solid $border-color;
      background-color: $background-color;
    }

    input[type='radio']:checked + label:after {
      border-radius: 11px;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      left: 6px;
      content: ' ';
      display: block;
      background: $primary;
    }
  }
}
