@import 'src/main/webapp/app/app';

$right-button-min-width: 5.75rem;

@mixin url-input {
  padding-right: max(16%, #{$right-button-min-width} + 0.3rem);
  height: 2.75rem;
}

.url-input-container {
  .copy-icon {
    top: 0.75rem;
    left: 0.75rem;
  }

  .copy-url-button {
    height: 2.75rem;
    background-color: transparent;
    border-color: transparent;
    width: 3rem;
    z-index: 1;
  }

  .open-link-button {
    top: 0;
    right: 0;
    width: 15%;
    height: 2.75rem;
    border-radius: 0 0.313rem 0.313rem 0;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    min-width: $right-button-min-width;
  }

  .form-group {
    .url-input {
      @include url-input;
    }
  }

  .url-input {
    @include url-input;
  }
}

.url-input-container-new {
  margin-top: 0.125rem;
  height: 2rem;
  width: 18.625rem;
  background-color: white;
  border-radius: 0.125rem;
  border: 0.063rem solid $border-color;

  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 155, 80, 0.25);
  }

  .url-input {
    height: 100%;
    padding: 0.438rem;
    border: none;
    background-color: transparent !important;

    &:focus {
      box-shadow: none;
    }
  }

  .open-link-button {
    height: 1.375rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}
