@import 'src/main/webapp/app/app';

@include customScrollbar('.criterion-levels', 0.625rem, $sby-beige-3, $sby-beige-3);

.rubric-form-content {
  .criterion-update {
    .criterion-header {
      margin-left: 0.875rem;

      .criterion-title,
      .criterion-remove {
        width: 14rem;
        min-width: 14rem;
      }

      .criterion-description {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }

    &.delete {
      box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);
    }

    .criterion-levels {
      margin: 0 -0.625rem;
      overflow-x: auto;
    }

    .add-criterion-level {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  button.btn.add-criterion {
    color: $sby-gray-4;
  }

  .criterion-update .criterion-remove button.btn,
  button.btn.add-criterion,
  .criterion-update .criterion-level .criterion-level-remove button.btn,
  .criterion-update .add-criterion-level button.btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .rubric-form-content .criterion-update .criterion-header {
    flex-wrap: wrap;

    .criterion-title,
    .criterion-remove {
      width: 100%;
      min-width: unset;
    }

    .criterion-remove {
      order: 1;
    }

    .criterion-title {
      order: 2;
    }

    .criterion-description {
      order: 3;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
